.tab-list {
        &__item {
            height: 55px;
            padding-top: 22px;
            padding-right: 19px;
            padding-left: 19px;

            font-family: $globel-reg;

            font-size: 16px;
            color: #cccccc;
            text-transform: uppercase;

            cursor: pointer;

            &:before {
                width: 7px;
                height: 2px;
            }

            &:after {
                width: 7px;
                height: 2px;
            }

            &:hover {
                background: #000;

                transition: 0.5s;
            }
        }

    &__item-link {
        color: #fff;
        text-decoration: none;
    }
}
